# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env.bak/
venv.bak/

# Pipenv
# Uncomment if you have pipenv files you don't want to track
# Pipfile
# Pipfile.lock

# Poetry
# Uncomment if you have poetry files you don't want to track
# poetry.lock

# Pyenv
# Uncomment if you have pyenv files you don't want to track
# .python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Temporary files
*.tmp
*.log

# Ignore sensitive files
mnemonic.txt
